<launch>
<!--  <arg name="ns" default="camera_array"/>-->
<!--  <arg name="first_camera_name" default="cam0" />-->
<!--  <arg name="second_camera_name" default="cam1" />-->

  <arg name="ns" default="kitti"/>
  <arg name="first_camera_name" default="camera_color_left" />
  <arg name="second_camera_name" default="camera_color_right" />
  <arg name="image_name" default="image_raw"/>
  <arg name="gps_topic"  default="/kitti/oxts/gps/fix" />
  <arg name="imu_topic"                default="/kitti/oxts/imu"/>

  <param name="/use_sim_time" value="true"/>
  <arg name="localization" default="true"/>

  <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
<!--    Parameters for performing map initialization -->
<!--    <arg name="args" value="&#45;&#45;delete_db_on_start" unless="$(arg localization)"/>-->
      <arg name="args" value="--delete_db_on_start"/>

    <arg name="stereo" value="true"/>
    <arg name="localization" value="$(arg localization)"/>
    <arg name="stereo_namespace" value="/$(arg ns)"/>

<!--    <arg name="rtabmapviz"              value="false" />-->
<!--    <arg name="rviz"                    value="true" />-->

    <arg name="frame_id" value="base_footprint"/>
<!--    <arg name="frame_id" value="base_link"/>-->

    <arg name="left_image_topic" value="/$(arg ns)/$(arg first_camera_name)/$(arg image_name)"/>
    <arg name="right_image_topic" value="/$(arg ns)/$(arg second_camera_name)/$(arg image_name)"/>
    <arg name="left_camera_info_topic" value="/$(arg ns)/$(arg first_camera_name)/camera_info"/>
    <arg name="right_camera_info_topic" value="/$(arg ns)/$(arg second_camera_name)/camera_info"/>

    <arg name="gps_topic"                value="$(arg gps_topic)" />
    <arg name="imu_topic"                value="$(arg imu_topic)"/>
<!--    <arg name="visual_odometry" value="false"/>-->
<!--    <arg name="odom_topic" value="/viso2_ros/odometry"/>-->

    <arg name="approx_sync" value="true"/>

<!--      Laser scan params -->
<!--    <arg name="subscribe_scan_cloud" value="true" />-->
<!--      <arg name="scan_cloud_topic" value="/$(arg ns)/velo/pointcloud"/>-->
<!--      <arg name="scan_cloud_max_points"   value="0"/>-->
      <arg name="cfg" value="/media/bmchale/BMcHale_SSD/home/git/neu/eece5554_finalproject/src/vslam_user/cfg/rtabmap.ini"/>
  </include>
</launch>