<launch>
<!--    <include file="$(find stereo_image_proc)/launch/stereo_image_proc.launch">-->
<!--        <arg name="manager" value="/camera_array"/>-->
<!--        <arg name="left" value="/camera_array/cam0"/>-->
<!--        <arg name="right" value="/camera_array/cam1"/>-->
<!--    </include>-->

<!--
rosbag play bag1.bag -l /camera_array/cam0/camera_info:=/camera_array/left/camera_info /camera_array/cam1/camera_info:=/camera_array/right/camera_info /camera_array/cam0/image_raw:=/camera_array/left/image_raw /camera_array/cam1/image_raw:=/camera_array/right/image_raw
rosbag play morning_stereo_rgb_ir_lidar_gps.bag -l /camera_array/cam0/camera_info:=/camera_array/left/camera_info /camera_array/cam1/camera_info:=/camera_array/right/camera_info /camera_array/cam0/image_raw:=/camera_array/left/image_raw /camera_array/cam1/image_raw:=/camera_array/right/image_raw
rosrun image_view stereo_view stereo:=/camera_array image:=image_rect_color
-->
<!--    <remap from="/camera_array/cam0/camera_info" to="/camera_array/left/camera_info"/>-->
<!--    <remap from="/camera_array/cam1/camera_info" to="/camera_array/right/camera_info"/>-->
<!--    <remap from="/camera_array/cam0/image_raw" to="/camera_array/left/image_raw"/>-->
<!--    <remap from="/camera_array/cam1/image_raw" to="/camera_array/right/image_raw"/>-->

<!--    <remap from="/camera_array/left/camera_info" to="/camera_array/cam0/camera_info"/>-->
<!--    <remap from="/camera_array/right/camera_info" to="/camera_array/cam1/camera_info"/>-->
<!--    <remap from="/camera_array/left/image_raw" to="/camera_array/cam0/image_raw"/>-->
<!--    <remap from="/camera_array/right/image_raw" to="/camera_array/cam1/image_raw"/>-->

    <group ns="/camera_array/">
		<node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" >
		</node>
	</group>
</launch>